html{
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
header{
  background-color: #00A287;
  height: 100px;
  width: 100%;
}
.header-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: white;
}
a.selected{
  border-bottom: 3px solid #FF7C00;
}
header nav{
  width: 60%;
  margin-top:30px;
}
header nav a{
  font-size: 34px;
  margin-left: 30px;
}
header nav a:hover{
  border-bottom: 3px solid #FF7C00;
}

.contact{
  margin-right: 20px;
  display: block;
}
p{
  color: #FFBA40;
  margin: 10px 0;
  font-size: 20px;
}

main{
  padding : 10px;
  height: calc( 100% - 100px);
  background-color: #006957;
  display: grid;
  grid-template-columns: 70% auto;
  grid-column-gap: 10px;
}
section.main-container{
  background-color: #1E796A;
  border-radius: 10px;
}

canvas{
  margin: 50px auto;
  height: 440px;
  width: 880px;
  display: block;
}
aside{
  background-color: #1E796A;
  border-radius: 10px;
  color: white;
}
.wrapper{
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(8, 60px);;
  grid-gap: 5px;
}
textarea{
  width: calc(100% - 6px);
  margin:0;
  height: 80%;
}
#points-container{
  grid-column: 4/6;
  grid-row: 1/5;
  display: block;
}
#lines-container{
  grid-column: 6;
  grid-row: 1/5;
}
#o-f{
  font-size: 20px;
  border-radius: 5px;
  background: #FF7C00;
  padding: 10px;
  margin: 0 0 auto 0;
  grid-column: 1/3;
  grid-row: 1;
}
#open-file{
  display: none;
}
#draw{
  grid-column: 1/3;
  grid-row: 2;
  margin: 0 0 auto 0;
  padding: 10px;
  border-radius: 5px;
}
