html{
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
header{
  background-color: #00A287;
  height: 100px;
  width: 100%;
}
.header-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: white;
}
a.selected{
  border-bottom: 3px solid #FF7C00;
}
header nav{
  width: 60%;
  margin-top:30px;
}
header nav a{
  font-size: 34px;
  margin-left: 30px;
}
header nav a:hover{
  border-bottom: 3px solid #FF7C00;
}
}
.contact{
  margin-right: 20px;
  display: block;
}
p{
  color: #FFBA40;
  margin: 10px 0;
  font-size: 20px;
}

main{
  width: 100%;
  height: calc( 100% - 100px);
  background-color: #006957;
  display: grid;
  grid-template-columns: 70% 30%;
}
section.main-container{
  margin: 5px;
  width: 890px;
  height: calc( 100% - 10px);
  background-color: #1E796A;
  border-radius: 10px;
  padding: 0 30px;
}
.scene{
  margin: 20px auto;
  background-color: white;
}
.canvas{
  margin: 20px;
  height: 500px;
  width: 700px;
}
aside{
  margin: 5px;
  background-color: #1E796A;
  border-radius: 10px;
}

